<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>232834789917-jih1l4d04sruhf5npvj0ctcm670kc76e.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.232834789917-jih1l4d04sruhf5npvj0ctcm670kc76e</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>232834789917-7efvvdfujnoi97a6kpf9brrv1png12pr.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyCFYAcYbPnUYd8NRLLMYHsXng1Dv4tG7fM</string>
	<key>GCM_SENDER_ID</key>
	<string>232834789917</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.inno.ezyfind</string>
	<key>PROJECT_ID</key>
	<string>ezyfind-1544275429812</string>
	<key>STORAGE_BUCKET</key>
	<string>ezyfind-1544275429812.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:232834789917:ios:26cd3fb302bc11d3f1ccf4</string>
</dict>
</plist>